<h1>nik</h1>
{% schema %}
{
  "name": "Predictive Search",
  "settings": [
    {
      "type": "text",
      "id": "placeholder_text",
      "label": "Placeholder Text",
      "default": "Search for products..."
    }
  ]
}

{% endschema %}